$red: #f10047;
$red-shade: #dc0041;

$blue: #008be6;
$blue-shade: #006eb6;
$blue-light: #e5eef3;
$blue-dark: #2A2F32;

$royal: #1A55FF;

$blue-grey-light: #b6c2c9;
$blue-grey: #9aa7b0;
$blue-grey-dark: #33424c;

$grey-dark: #323435;
$grey-lightish: #d1dde5;
$grey-light: #e5e4e2;
$grey-white: #f5f4f2;

$green: #00C25F;
$green-dark: #3f4138;
$green-mid: #55584b;
$green-light: #f3ffc7;
$green-light-dull: #f0f4e4;
$green-light-duller: #e3e8d5;

$chartreuse: #B3E600;
